.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-half {
  width: 50%;
}

.column-two-third {
  width: 66%;
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  font-family: sans-serif;
}

p {
  margin-top: 3px;
}
