body {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

button {
  border-style: none;
  border-radius: 50%;
}

.body-off {
  background-color: rgb(11, 11, 11);
}

.body-on {
  background-color: white;
}

.button-off {
  background-color: rgb(11, 11, 11);
}

.button-on {
  background-color: white;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: rgba(124, 124, 124, 0.341);
  border-radius: 50%;
  box-shadow: 1px -10px 5px 0 rgba(133, 133, 133, 0.75);
  -webkit-box-shadow: 1px -10px 5px 0 rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 1px -10px 5px 0 rgba(133, 133, 133, 0.75);
}

.circle-off {
  background-color: rgba(124, 124, 124, 0.341);
  box-shadow: 1px -13px 0 -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -13px 0 -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -13px 0 -1px rgba(0, 0, 0, 0.75);
}

.circle-on {
  background-color: yellow;
  box-shadow: 1px -13px 19px 4px rgba(255, 243, 195, 0.75);
  -webkit-box-shadow: 1px -13px 19px 4px rgba(255, 243, 195, 0.75);
  -moz-box-shadow: 1px -13px 19px 4px rgba(255, 243, 195, 0.75);
}
