body {
  font-family: 'Karla', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.header {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

h1 {
  letter-spacing: 4px;
  font-size: 2.5rem;
}

p {
  font-size: 0.9rem;
  color: gray;
  font-weight: 500;
}

.row-full {
  display: flex;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.column-one-half {
  text-align: center;
  margin: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.column-one-fourth {
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.row-one-half {
  display: flex;
}

.column-two-third {
  width: 25%;
}

img {
  width: 100px;
  height: 100px;
}
