.column-header-main {
  border-bottom: 2px solid rgb(240, 240, 240);
}

.row-header {
  display: flex;
  width: 87%;
  margin: auto;
  height: 70px;
}

.column-full {
  width: 100%;
}

.display-flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.column-nav {
  width: 100%;
}

.nav-styling {
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: bolder;
  text-align: center;
}

.column-nav-blog {
  width: 80%;
}

.column-logo {
  margin-right: 400px;
  text-align: left;
}

.logo-blue {
  width: auto;
  height: 27px;
  position: relative;
  top: 12px;
}

.column-nav-button {
  text-align: right;
  width: 100%;
}

.contact-us {
  background-color: #294364;
  border-radius: 4px;
  border-style: none;
  width: 112px;
  height: 44px;
  position: relative;
  top: 3px;
  font-size: 1rem;
  padding-left: 9px;
  padding-right: 9px;
}

.hero-full {
  width: 87%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  background-image: url('images/hero.jpg');
  background-size: cover;
  position: relative;
  height: 523px;
}

.hero-text {
  position: relative;
  left: 75px;
  height: 100%;
  padding-top: 80px;
  width: 48%;
}

.hero-header {
  font-size: 2.4rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-paragraph {
  line-height: 1.7;
  bottom: 10px;
}

.overlay {
  background-color: rgba(59, 59, 59, 0.432);
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-get-started {
  background-color: #294364;
  border-radius: 4px;
  border-style: none;
  width: 190px;
  height: 55px;
  color: white;
  font-size: 20px;
  position: relative;
  top: 10px;
}

.clinicians-full {
  background-color: #fafafa;
  color: #6e6e6e;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.clinicians-inner {
  width: 87%;
  margin: auto;
  text-align: center;
  height: 493px;
}

.clinicians-header-full {
  width: 45%;
  margin: auto;
  margin-top: 40px;
}

.clinicians-header-top {
  font-size: 0.9rem;
  padding-top: 42px;
}

.clinicians-header-bottom {
  line-height: 1.8;
}

p {
  font-weight: bold;
}

.clinicians-inner-bottom {
  display: flex;
  margin-top: 60px;
  font-size: 13px;
  line-height: 1.9;
}

.all-locations {
  flex-basis: calc(100% / 2);
}

.learn-more-inner {
  display: flex;
  width: 87%;
  margin: auto;
  height: 100%;
}

.ready-left {
  width: 290%;
}

.learn-more-get-started {
  width: 100%;
  text-align: right;
  position: relative;
}

.get-started-button {
  background-color: #294364;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 55px;
  color: white;
  font-size: 20px;
  position: relative;
  top: 40px;
  right: 28px;
}

.learn-more-full {
  height: 162px;
  color: #6e6e6e;
  font-size: 15px;
}

.row-ready {
  padding-top: 20px;
}

.info-full {
  background-color: #515351;
  height: 432px;
}

.info-inner {
  width: 87%;
  margin: auto;
  display: flex;
  height: 100%;
}

.info-left {
  width: 210%;
}

.column-one-third {
  width: 100%;
}

.logo-white {
  margin-top: 100px;
  width: auto;
  height: 27px;
}

.address {
  line-height: 0.8;
  position: relative;
  top: 35px;
}

.row-company {
  margin-top: 102px;
  line-height: 1.4;
}

.info-product {
  margin-top: 102px;
  line-height: 1.4;
}

.footer-height {
  height: 128px;
}

.column-footer {
  display: flex;
  width: 87%;
  height: 100%;
  margin: auto;
}

.footer-nav {
  width: 16%;
  color: #6e6e6e;
}

.privacy-terms {
  position: relative;
  top: 30px;
  font-size: 18px;
}

.footer-contact-us {
  position: relative;
  top: 30px;
  font-size: 18px;
}

.font-avenir {
  font-family: 'Avenir', sans-serif;
}

.font-tiempos {
  font-family: 'Tiempos Headline', sans-serif;
}

.gray {
  color: #515351;
}

.white {
  color: white;
}
